* {
  padding: 0;
  margin: 0;
}
.table{
  display: flex;
  justify-content: center;
}
table {
  height: calc(100vh);
  width: calc(100vw);
  border-spacing: 0;
}

td {
  border: 1px #000000 solid;
  border-spacing: 0;
}
